/*Header*/

@font-face {
    font-family: Airways;
    src: url(../fonts/Airways_PERSONAL_USE_ONLY.ttf);
}

h1 {
    font-family: Airways, 'Comic Sans MS', cursive;
    font-size: 4rem;
}

.header-row {
    height: 150px;
    position: relative;
    z-index: 1;
}

.header-row:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../img/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .4;
}

.contacts a {
    color: black;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    margin-left: 3px;
}

.social {
    margin-top: 15px;
}


@media (max-width: 576px) {
    .header-row {
        height: 220px;
    }
}

/*Header End*/

/*Main*/
.about {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #e5e5e5;
}

.mosaic-row > div {border:10px solid white}
.B {background:blue; height:400px}
.G {background:green; height:200px}
.O {background:orange; height:200px}

.mosaic-row > div {border:10px solid white}
.Y {background:yellow; height:400px}
.R {background:red; height:400px}
.Bl1 {background:black; height:200px}
.Bl {background:black; height:400px}

/*End main*/

/*Footer*/


.footer-row {
    height: 150px;
    background-color: #e5e5e5;
}

@media (max-width: 576px) {
    .footer-row {
        height: 220px;
    }
}



/*End Footer*/